ul .links{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    margin: 50px auto;
    align-items: baseline;
}

ul .links li{
    list-style: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .5s;

}

ul .links .focus-bar{
    position: absolute;
    display: block;
    height: 3.5px;
    border-radius: 5px;
    background: linear-gradient(to right, #1BFFB6, #B61BFF);
    width: 47px;
    left: 10px;
    transition: .3s;
    bottom: 2px;
}

ul .links li:hover{
    font-weight: 500;
}
ul .links li a.focus{
    font-weight: 500;
}
/* ul .links li a.focus::after{
    content: "";
    display: block;
    width: 47px;
    height: 3.5px;
    border-radius: 5px;
    background: linear-gradient(to right, #1BFFB6, #B61BFF);
    margin: 5px auto;
} */